

@media only screen and (max-width: 750px){
	/*Big smartphones [426px -> 600px]*/

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .leadway{
        /* border-radius: 50%; */
        margin-top: 20px;
    }
    .icon{
        position: absolute;
        margin-left: 490px;
        cursor: pointer;
        color: orange;
        
    
    }
    
    .container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 30px;
        padding: 20px;
    }
    .container p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container .adjust{
        padding-left: 30px;
        cursor: pointer;
        color: orange;
    }
    .btn{
        background-color: orange;
        color:white;
        border: 5px solid transparent;
        height: 60px;
        width: 350px;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 85px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: white;
        color: orange;
    }
    
    .third ul {
        list-style-type: none;
        font: bold;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 50px;
        padding: 20px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .third li{
        cursor: pointer;
    }

    .App{
        background-image: url(../images/bg4.webp);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position:  ; */
        /* height: 100vh; */
        margin: -10px;
        padding-bottom: 50px;
        /* opacity: ; */
        color: whitesmoke;
        /* position: relative; */
    
    }
    /* .App{
        overflow: hidden;
        position: absolute;
    } */
}